*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background:
      repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
        rgba(255, 153, 0, 0.5) 80px, rgba(255, 255, 0, 0.5) 120px,
        rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
        rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px,
        rgba(255, 0, 0, 0.5) 300px),
      repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
        rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
        rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
        rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
        rgba(255, 0, 0, 0.5) 230px),
      repeating-linear-gradient(23deg, red 50px, orange 100px,
        yellow 150px, green 200px, blue 250px,
        indigo 300px, violet 350px, red 370px);
}

#sidebar.active{
    left:0px;
}

#sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #5e83ba;
    border-right: 4px solid #E0E5EA;
    left: -250px;
    transition: all 300ms;
}


#sidebar ul li:first-child{
    text-align: center;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child){
    width: 90%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 12.5px;
}

#sidebar ul li a{
    
    color: #dfe5eb;
    text-decoration: none;
}

#sidebar ul li a:hover{
    color: #59e9df;
    
}

#sidebar .toggle{
    position: absolute;
    left: 270px;
    top: 20px;
    background: #E0E5EA;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#sidebar .toggle:hover{
    background: #556270;
}

#sidebar .toggle:hover span{
    background: #fafafa;
}

#sidebar .toggle span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
}
#about{
    margin-left: 10%;
    line-height: 25px;
    font-size: 20px;
    width: 80%;
    text-align:center;
    padding-top: 10%;
    
}
#about h2{
    padding: 30px;
    padding-bottom: 20px;
}
#about p{
    
    padding-top: 10px;
}
.txt{
    color: white;
    height: 340px;
    background: linear-gradient(219deg, rgba(12,12,193,1) 12%, rgba(20,142,18,1) 34%, rgba(207,54,71,1) 81%);
}